.logoContainer {
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
  line-height: 0;
  display: inline-flex;
}

.logoImage {
  display: block;
  object-fit: contain;
}

.tagline {
  color: #666666;
}

.taglineLight {
  color: #ffffff;
}
